{% extends "base.html" %}
{% block title %}Break Up Your Playlists{% endblock %}
{% block html_body %}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/favicon-194x194.png') }}" alt="" width="30" height="30" loading="lazy">
        &nbsp;&nbsp;Splittr
    </a>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="nav flex-column">
            <a class="nav-link active" href="#">Active</a>
            <a class="nav-link" href="#">BPM</a>
            <a class="nav-link" href="#">Genre</a>
        </nav>
        <div class="col">
            {% block home_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}