{% extends "base_connected.html" %}
{% block home_content %}
<table class="table table-striped table-hover table-dark">
    <thead class="thead-light">
        <tr>
            <th>Track Name</th>
            <th></th>
            <th>Duration (s)</th>
            <th>Danceability</th>
            <th>Energy</th>
            <th>Loudness</th>
            <th>Tempo</th>
            <th>Time Signature</th>
        </tr>
    </thead>
    <tbody>
        {% for info in items %}
        <tr>
            <td>{{ info.name }}</td>
            <td>
                <a class="btn btn-primary" data-toggle="collapse" href="#track_{{ info.spotify_id }}" role="button" aria-expanded="false" aria-controls="track_{{ info.spotify_id }}">
                    Track Preview
                </a>
                <div class="collapse" id="track_{{ info.spotify_id }}">
                    <audio controls>
                        <source src="{{ info.preview_url }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </td>
            <td>{{ info.duration }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block profile_content %}This is your profile{% if name %}, {{ name }}{%endif%}!{% endblock %}
{% block messages_content %}This where your messages are{% if name %}, {{ name }}{%endif%}!{% endblock %}
{% block settings_content %}This where you can adjust your settings{% if name %}, {{ name }}{%endif%}!{% endblock %}